---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import PostSnippet from '@/components/articles/Snippet'
import Pagination from '@/components/Pagination'
import Settings from '@/data/settings'

export async function getStaticPaths({ paginate }) {
    const allPosts = Astro.fetchContent('../../*.md');
    const allTags = new Set();
    
    allPosts.map(post => {
        post.tags && post.tags.map(tag => allTags.add(tag.toLowerCase()))
    });
    
    return Array.from(allTags).map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.tags.includes(tag))
        
        return paginate(filteredPosts, {
            params: { tag },
            pageSize: Settings.pageSize
        });
    });
}

const { page } = Astro.props
const { params } = Astro.request
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Articles - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <main>
        <header class="container">
            <Header />

            <div class="constraint-sm">
                <h1>Articles Tagged with "<span style="text-transform: capitalize">{params.tag}</span>"</h1>
            </div>
        </header>

        <section class="container" style="display: flex; justify-content: space-between; gap: var(--space-xl);">
            <div class="constraint-sm">
                <div class="posts" id="anchor">
                    {page.data.map(p =>
                        <PostSnippet post={p} />
                    )}
                </div>

                <Pagination page={page} />
            </div>
        </section>

        <Footer />
    </main>
</body>
</html>