---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import PostSnippet from '@/components/articles/Snippet'
import Pagination from '@/components/Pagination'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'
import Categories from '@/components/Categories'

// data
import Settings from '@/data/settings'

export async function getStaticPaths({paginate, rss}) {
    const posts = await Astro.fetchContent("./*.md");
    const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date));

    rss({
        // The RSS Feed title, description, and custom metadata.
        title: 'Dons Blog',
        description: 'An example blog on Astro',
        customData: '<language>en-us</language>',
        // The list of items for your RSS feed, sorted.
        items: sortedPosts.map(item => ({
            title: item.title,
            description: item.description,
            link: item.url,
            pubDate: item.date,
        })),
        // Optional: Customize where the file is written to.
        // Defaults to "/rss.xml"
        dest: "/rss.xml"
    });

    return paginate(sortedPosts, { pageSize: Settings.pageSize });
}

const allPosts = await Astro.fetchContent("./*.md");
const categories = [...new Set(allPosts.map(post => post.category))];
const tags = [...new Set([].concat.apply([], allPosts.map(post => post.tags)))];

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Articles - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <main>
        <header class="container">
            <Header />

            <div class="constraint-sm">
                <h1>Articles</h1>
                <p>
                    Occasionally you'll catch me writing down my thoughts on the intersection of <a href="articles/tags/code" title="Coding Articles">coding</a>, <a href="articles/tags/photography" title="Photography Articles">photography</a> and <a href="articles/tags/cars" title="Car Articles">cars</a> (as if there is such a thing).
                </p>
            </div>
        </header>

        <section class="container content">
            <div class="constraint-sm">
                <div class="posts" id="anchor">
                    {page.data.map(p =>
                        <PostSnippet post={p} />
                    )}
                </div>

                <Pagination page={page} />
            </div>

            <Sidebar>
                <Categories category={categories} url="articles" />
                <Tags tag={tags} url="articles" />
            </Sidebar>
        </section>

        <Footer />
    </main>
</body>
</html>