---
// components
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import BaseHead from '../../components/BaseHead.astro'
import PostSnippet from '../../components/articles/Snippet.astro'
import Search from '../../components/Search.astro'

export async function getStaticPaths({ paginate }) {
    const posts = await Astro.fetchContent("./*.md");

    return paginate(posts, { pageSize: 4 });
}

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead
        title="Articles - Digital Marketing, Jamstack Programming and Car Photography"
    />

    <style lang="scss">
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <main>
        <header class="container">
            <Header />

            <div class="constraint-sm">
                <h1>Articles</h1>
                <p>
                    Occasionally you'll catch me writing down my thoughts on the intersection of <a href="#">digital marketing</a>, <a href="#">photography</a> and <a href="#">cars</a> (as if there is such a thing).
                </p>
            </div>
        </header>

        <section class="container">
            <div class="constraint-sm">
                <Search placeholder="Search Postings" />

                <div class="posts">
                    {page.data.map(p =>
                        <PostSnippet post={p} />
                    )}
                </div>

                <div class="pagination">
                    <a href={page.url.prev} class={`pill ${page.url.prev ? 'pill-secondary' : 'pill-disabled'} `}>Previous</a>
                    <div>
                        {page.start + 1} to {page.end + 1} of {page.total}
                    </div>
                    <a href={page.url.next} class={`pill ${page.url.next ? 'pill-secondary' : 'pill-disabled'} `}>Next</a>
                </div>
            </div>
        </section>

        <Footer />
    </main>
</body>
</html>
