---

---

<div class="post">
    <a href="/">
        <h3 class="h4">Dynamic Bookmarks in Google Chrome</h3>
    </a>
    <div class="meta">
        <time>12 Feb 2020</time>

        <div class="tags">
            <span>Figma</span>
            <span>Icon Design</span>
        </div>
    </div>

    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
</div>