---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Flex from "@/components/Flex"
import Content from "@/components/Content"
import Container from "@/components/Container"
import PostSnippet from "@/components/PostSnippet"
import Pagination from "@/components/Pagination"
import Sidebar from "@/components/Sidebar"
import Tags from "@/components/Tags"
import Categories from "@/components/Categories"

// config
import { pageSize } from "@/src/config.ts"

export async function getStaticPaths({rss, paginate}) {
    const allPosts = await Astro.fetchContent("./*.md")
                                .sort((a, b) => new Date(b.date) - new Date(a.date));

    rss({
        title: "Erik S. Olsen",
        description: "Erik Olsen lives in Austin, Texas and is the Director of Digital Engagement at ICG America",
        customData: `<language>en-us</language>`,
        // The list of items for your RSS feed, sorted.
        items: allPosts.map(p => ({
            title: p.title,
            description: p.description,
            link: p.url,
            pubDate: p.date,
        })),
        
        // Optional: Customize where the file is written to.
        // Defaults to "/rss.xml"
        //dest: "/my/custom/feed.xml",
  });

    return paginate(allPosts, { pageSize: pageSize });
}

// get all the posts and send to tag and category component
const allPosts = await Astro.fetchContent("./*.md");
const tags = [...new Set([].concat.apply([], allPosts.map(p => p.tags)))];
const categories = [...new Set(allPosts.map(p => p.category))];

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Blog</h1>
                <p>Occasionally you'll catch me writing down my thoughts on the intersection of <a href="blog/tags/code" title="Coding Posts">coding</a>, <a href="blog/tags/photography" title="Photography Posts">photography</a> and <a href="blog/tags/cars" title="Car Posts">cars</a> (as if there is such a thing).</p>
            </Heading>

            <Flex>
                <Content>                
                    <section class="posts">
                        {page.data.map(p =>
                            <PostSnippet post={p} />
                        )}
                    </section>

                    <Pagination page={page} />
                </Content>

                <Sidebar>
                    <div>
                        <h4>Categories</h4>
                        <Categories categories={categories} base="blog" />
                        
                        <h4>Tags</h4>
                        <Tags tags={tags} base="blog" />
                    </div>
                </Sidebar>
            </Flex>
        </Container>
    </BaseLayout>
</body>
</html>