---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Container from "@/components/Container"
import PostSnippet from "@/components/PostSnippet"
import Pagination from "@/components/Pagination"

// config
import { postSize } from "@/src/config.ts"

export async function getStaticPaths({rss, paginate}) {
    const allPosts = await Astro.glob("./*.md")
    const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

    rss({
        title: "Erik S. Olsen",
        description: "Erik Olsen lives in Austin, Texas and is the Director of Digital Engagement at ICG America",
        customData: `<language>en-us</language>`,
        
        // The list of items for your RSS feed, sorted.
        items: filteredPosts.map(p => ({
            title: p.frontmatter.title,
            description: p.frontmatter.description,
            link: p.url,
            pubDate: p.frontmatter.date,
        })),
  });

    return paginate(filteredPosts, { pageSize: postSize });
}

const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Blog</h1>
                <p>Occasionally you'll catch me writing down my thoughts on the intersection of coding, photography and cars (as if there is such a thing).</p>
            </Heading>            
            
            <section class="grid grid-cols-1 md:grid-cols-2 gap-10">
                {page.data.map(p =>
                    <PostSnippet post={p} />
                )}
            </section>

            <Pagination page={page} />
        </Container>
    </BaseLayout>
</body>
</html>