---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Heading from '@/components/Heading'
import Flex from '@/components/Flex'
import Content from '@/components/Content'
import ShootSnippet from '@/components/ShootSnippet'
import Pagination from '@/components/Pagination'
import Sidebar from '@/components/Sidebar'
import Tags from '@/components/Tags'
import Categories from '@/components/Categories'

// data
import Settings from '@/data/settings'

export async function getStaticPaths({ paginate }) {
    const shoots = await Astro.fetchContent("./*.md");
    const sortedShoots = shoots.sort((a, b) => new Date(b.date) - new Date(a.date));

    return paginate(sortedShoots, { pageSize: Settings.pageSize });
}

const { page } = Astro.props;

// get all the posts and send to tag and category component
const allPosts = await Astro.fetchContent("./*.md");
const tags = [...new Set([].concat.apply([], allPosts.map(post => post.tags)))];
const categories = [...new Set(allPosts.map(post => post.category))];
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Car Photography in Austin, TX"
        description="During the summer months you'll catch me shootin photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
    />
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>Photography</h1>
        </Heading>
        
        <Flex>
            <Content>
                {page.currentPage > 1 ? `` : 
                    `<article>
                        <p>Lately, I've been shooting lots of cars for Bring a Trailer auctions. If you're in the Austin area and are interested in having your car photographed for an online auction site, <a href="/contact" title="Contact Me">let's chat!</a></p>
                        <p>If I have some free time, you might catch me over at <a href="https://www.facebook.com/CoffeeWithCars/" title="Coffee With Cars in Dripping Springs">Coffee With Cars in Dripping Springs, TX</a>. It's currently hosted at Dreamland on the last Sunday of the month at 8am.</p>
                        <p>Currently I'm shooting with a Sony Alpha A7iii and a host of Zeiss Batis lenses. I'm also always on the lookout for new Peak Design gear, everything they make is incredible.</p>
                    </article>`
                }

                <section class="posts">
                    {page.data.map(s =>
                        <ShootSnippet shoot={s} />
                    )}
                </section>

                <Pagination page={page} />
            </Content>

            <Sidebar>
                <div>
                    <h4>Categories</h4>
                    <Categories categories={categories} base="photography" />
                    
                    <h4>Tags</h4>
                    <Tags tags={tags} base="photography" />
                </div>
            </Sidebar>
        </Flex>
    </BaseLayout>
</body>
</html>
