---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Content from "@/components/Content"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />

    <style lang="scss">
        form {
            display: flex;
            flex-direction: column;
            gap: var(--space-lg);

            .group {
                display: flex;
                flex-direction: column;

                .optional {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    span {
                        color: var(--color-grayscale-80);
                        font-weight: 300;
                    }
                }
            }

            button, button span {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Heading>
            <h1>Contact Me</h1>
        </Heading>

        <Content>
            <section>
                <form action="/contact/success/" name="Contact - Page" method="POST" data-netlify="true">
                    <div class="group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" required>
                    </div>

                    <div class="group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" autocomplete="email" placeholder="your@email.com" required>
                    </div>

                    <div class="group">
                        <div class="optional">
                            <label for="phone">Phone Number</label>
                            <span>Optional</span>
                        </div>
                        
                        <input type="text" name="phone" id="phone" autocomplete="tel" placeholder="(512) 867-5309">
                    </div>
                    
                    <div class="group">
                        <div class="optional">
                            <label for="message">Message</label>
                            <span>Optional</span>
                        </div>
                        
                        <textarea id="message" name="message" rows="4"></textarea>
                    </div>

                    <div class="group">
                        <button type="submit" class="btn btn-primary">
                            <span>Let's talk</span>
                        </button>
                    </div>
                </form>
            </section>
        </Content>
    </BaseLayout>
</body>
</html>
