---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Content from "@/components/Content"
import Container from "@/components/Container"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />

    <style lang="scss">
        form {
            @apply flex flex-col space-y-6;

            .group {
                @apply flex flex-col space-y-1;

                input, textarea {
                    @apply rounded border border-neutral-300 font-light
                }

                .optional {
                    @apply flex flex-row justify-between;

                    span {
                        @apply text-neutral-500 font-light;
                    }
                }
            }

            button, button span {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Contact Me</h1>
            </Heading>
        </Container>

        <Container>
            <Content>
                <section class="prose">
                    <form action="/contact/success/" name="Contact - Page" method="POST" data-netlify="true">
                        <div class="group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" required>
                        </div>

                        <div class="group">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" autocomplete="email" placeholder="your@email.com" required>
                        </div>

                        <div class="group">
                            <div class="optional">
                                <label for="phone">Phone Number</label>
                                <span>Optional</span>
                            </div>
                            
                            <input type="text" name="phone" id="phone" autocomplete="tel" placeholder="(512) 867-5309">
                        </div>
                        
                        <div class="group">
                            <div class="optional">
                                <label for="message">Message</label>
                                <span>Optional</span>
                            </div>
                            
                            <textarea id="message" name="message" rows="4"></textarea>
                        </div>

                        <div class="group">
                            <button type="submit" class="btn btn-primary">
                                <span>Let's talk</span>
                            </button>
                        </div>
                    </form>
                </section>
            </Content>
        </Container>
    </BaseLayout>
</body>
</html>
