---
// modules
import { BackgroundPicture } from "astro-imagetools/components"
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Container from "@/components/Container"

// functions
import { buildPublicPath } from "@/functions/Media"

const bg = buildPublicPath("shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_087.jpg")
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BackgroundPicture src="/src/assets/images/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_019.jpg">
        <BaseLayout classes="space-y-0">
            <div class="bg-white bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-90 py-68">
                <Container classes="py-24">
                    <Heading>
                        <h1 slot="heading">Contact Me</h1>
                    </Heading>

                    <section>
                        <div class="max-w-lg">
                            <form action="/contact/success/" name="Contact - Page" method="POST" data-netlify="true" class="space-y-6">
                                <div class="space-y-2">
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" id="name" autocomplete="given-name" required>
                                </div>

                                <div class="space-y-2">
                                    <label for="email">E-mail</label>
                                    <input type="email" name="email" id="email" autocomplete="email" required>
                                </div>

                                <div class="space-y-2">
                                    <div class="flex justify-between">
                                        <label for="tel">Phone Number</label>
                                        <span id="tel-optional" class="text-sm text-gray-500">Optional</span>
                                    </div>
                                    <input type="tel" name="phone" id="phone" aria-describedby="tel-optional" autocomplete="tel" required>
                                </div>
                                <div class="space-y-2">
                                    <div class="flex justify-between">
                                        <label for="message">How can I help you?</label>
                                        <span id="message-optional" class="text-sm text-gray-500">Optional</span>
                                    </div>
                                    <textarea id="message" name="message" aria-describedby="message-optional" rows="4"></textarea>
                                </div>
                                
                                <div class="w-full">
                                    <button type="submit" class="btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </Container>
            </div>
        </BaseLayout>
    </BackgroundPicture>
</body>
</html>
