---
// modules
import { SEO } from "astro-seo";

// components
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import BaseHead from '@/components/BaseHead'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Contact - I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <main>
        <header class="container">
            <Header />

            <div class="constraint-sm">
                <h1>Thanks!</h1>
                <p>I really appreciate you reaching out. I've received your email and I'm probably looking at it right now.</p>
                <p>During the week I'm most likely busy with my day job, but I promise I'll get back to you as soon as I can.</p>
                <p>Thanks again!</p>
            </div>
        </header>

        <Footer />
    </main>
</body>
</html>
