---
    // components
    import Navigation from '../components/Navigation.astro'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Dev</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../assets/styles/_global.scss')}>
    <style>
        
    </style>
</head>

<body>
    <main>
        <header>
            <Navigation />
            <div>
                <h1>Hi, I'm Erik. I'm a CRO &amp; SEM Expert.</h1>
            </div>
        </header>
    </main>
</body>
</html>
