---
// modules
import { SEO } from "astro-seo"
import { Picture } from "astro-imagetools/components"

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import PostSnippet from "@/components/PostSnippet"

const allPosts = await Astro.glob("./blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0,6);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1 slot="heading">Hey there.</h1>
                <div class="space-y-6">
                    <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a href="http://www.icgamerica.com" title="ICG America, Inc">ICG America</a>, generating $50 million in direct-to-consumer sales.</p>
                    <p>Oh yeah, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
                </div>
            </Heading>

            <section class="space-y-10">
                <div class="grid grid-cols-3 gap-10">
                    <h2 class="col-span-3 sm:col-span-2">Recent Photos</h2>
                    
                    <div class="col-span-3 sm:col-span-1 sm:justify-self-end order-3 sm:order-2">
                        <a class="w-full sm:w-fit btn-secondary" href="/photography" title="View All Photos">More Photos</a>
                    </div>
                    
                    <div class="order-2 sm:order-3 col-span-3 grid grid-cols-1 sm:grid-cols-2 grid-flow-row sm:grid-flow-col gap-5">
                        <Image
                            file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_037.jpeg"
                            sizes="(min-width: 640px) 500px, 100vw"
                            classes="object-cover h-full rounded-md shadow-2xl"
                        />
                        <Image
                            file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_009.jpeg"
                            sizes="(min-width: 640px) 500px, 100vw"
                            classes="object-cover h-full rounded-md shadow-2xl"
                        />
                        <div class="row-span-2">
                            <Image
                                file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_036.jpeg"
                                sizes="(min-width: 640px) 500px, 100vw"
                                classes="rounded-md shadow-2xl"
                            />
                        </div>
                    </div>
                </div>
            </section>

            <section class="space-y-10">
                <div class="grid grid-cols-3 gap-10">
                    <h2 class="col-span-3 sm:col-span-2">Recent Posts</h2>
                    
                    <div class="col-span-3 sm:col-span-1 sm:justify-self-end order-3 sm:order-2">
                        <a class="w-full sm:w-fit btn-secondary" href="/blog" title="View All Posts">More Posts</a>
                    </div>
                    
                    <div class="order-2 sm:order-3 col-span-3 grid grid-cols-1 md:grid-cols-2 gap-10">
                        {filteredPosts.map(p =>
                            <PostSnippet post={p} />
                        )}
                    </div>
                </div>
            </section>
        </Container>
    </BaseLayout>
</body>
</html>
