---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from '@/components/BaseHead'
import BaseLayout from '@/components/BaseLayout'
import Content from '@/components/Content'
import Image from "@/components/image/Image"
import PostSnippet from '@/components/PostSnippet'
import ShootSnippet from '@/components/ShootSnippet'

const allPosts = await Astro.fetchContent("./blog/*.md").slice(0,2);
const allShoots = await Astro.fetchContent("./photography/*.md").slice(0,4);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />

    <style lang="scss">
        @use '../assets/styles/breakpoints' as *;

        .intro {
            padding-bottom: var(--section-spacing-sm);

            @include breakpoint(md) {
                padding-bottom: var(--section-spacing-md);
            }
            
            figure {
                @include breakpoint(lg) {
                    order: 1;
                    align-self: center;
                    justify-self: end;
                }
            }
            :global(img) {
                width: 150px;
                height: 150px;

                @include breakpoint(lg) {
                    width: 220px;
                    height: 220px;
                }
            }

            *:not(:last-child) {
                margin-bottom: 2rem;
            }

            p {
                max-width: 90%;
            }

            @include breakpoint(md) {
                text-align: left;

                h1 {
                    margin-top: 0;
                }
                p {
                    max-width: 25rem;
                    margin: 0;
                }
            }
            @include breakpoint(lg) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }
        }

        .headline {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            margin-bottom: var(--space-xl);

            @include breakpoint(md) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            h2 { margin: 0; }
            a {
                width: max-content;
                height: max-content;
                color: var(--text-blue-80);
                font-weight: 500;
            }
        }

        .recent-posts {
            background-color: var(--color-blue-10);
            padding: var(--space-xl) var(--space-lg);
            border-radius: var(--site-radius);

            @include breakpoint(md) {
                padding: var(--space-xxl) var(--space-xl);
            }

            .posts {
                @include breakpoint(lg) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        .recent-shoots {
            padding-top: var(--section-spacing-sm);

            @include breakpoint(md) {
                padding-top: var(--section-spacing-md);
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Content fullWidth=true>
            <div class="intro">
                <figure>
                    <picture>
                        <Image
                            file="me.jpg"
                            classes="solid-shadow-pink"
                            alt="Erik S. Olsen in Austin, TX"
                        />
                    </picture>
                </figure>

                <div>
                    <h1>
                        Hi, I'm Erik.<br />
                        I'm a CRO &amp;<br />
                        SEM Expert.
                    </h1>
                    <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at ICG America, generating $50 million in direct-to-consumer sales.</p>

                    <a href="/" class="btn btn-primary" title="Contact Me">
                        <span>Contact Me</span>
                    </a>
                </div>
            </div>

            <section class="recent-posts">
                <div class="headline">
                    <h2>Recent Posts</h2>
                    <a href="/blog" class="pill pill-primary" title="View All Posts">View All</a>
                </div>

                <div class="posts">
                    {allPosts.map(p =>
                        <PostSnippet post={p} />
                    )}
                </div>
            </section>

            <section class="recent-shoots">
                <div class="headline">
                    <h2>Recent Shoots</h2>
                    <a href="/photography" class="pill pill-secondary" title="View All Photoshoots">View All</a>
                </div>

                <div class="shoots">
                    {allShoots.map(s => <ShootSnippet shoot={s} /> )}
                </div>
            </section>
        </Content>
    </BaseLayout>
</body>
</html>
