---
// components
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Image from "../components/image/Image.astro"
import PostSnippet from '../components/articles/Snippet.astro'
import ShootSnippet from '../components/shoots/Snippet.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />

    <style lang="scss">
        @use '../assets/styles/breakpoints' as *;

        .intro {
            text-align: center;
            
            figure {
                @include breakpoint(lg) {
                    order: 1;
                    align-self: center;
                    justify-self: end;
                }
            }
            .img {
                width: 150px;
                height: 150px;

                @include breakpoint(lg) {
                    width: 220px;
                    height: 220px;
                }
            }

            *:not(:last-child) {
                margin-bottom: 2rem;
            }

            p {
                max-width: 90%;
                margin: 0 auto;
            }

            @include breakpoint(md) {
                text-align: left;

                h1 {
                    margin-top: 0;
                }
                p {
                    max-width: 25rem;
                    margin: 0;
                }
            }
            @include breakpoint(lg) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }
        }

        .headline {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-xs);
            margin-bottom: var(--space-xl);

            @include breakpoint(md) {
                flex-direction: row;
                justify-content: space-between;
            }

            h2 { margin: 0; }
            a { color: var(--color-blue-90); }
        }

        .recent-posts {
            background-color: var(--color-blue-10);
            padding-top: var(--section-spacing-sm);
            padding-bottom: var(--section-spacing-sm);

            @include breakpoint(md) {
                padding-top: var(--section-spacing-lg);
                padding-bottom: var(--section-spacing-lg);
            }

            .posts {
                @include breakpoint(lg) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        .recent-shoots {
            padding-top: var(--section-spacing-sm);

            @include breakpoint(md) {
                padding-top: var(--section-spacing-lg);
            }
        }
    </style>
</head>

<body>
    <main>
        <div class="container">
            <Header />
        </div>

        <header class="container">
            <div class="intro">
                <figure>
                    <picture>
                        <img data-src="/images/me.jpg" class="solid-shadow-pink img" />
                    </picture>
                </figure>

                <div>
                    <h1>
                        Hi, I'm Erik.<br />
                        I'm a CRO &amp;<br />
                        SEM Expert.
                    </h1>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

                    <a href="/" class="btn btn-primary">
                        <span>Contact Me</span>
                    </a>
                </div>
            </div>
        </header>

        <section class="recent-posts">
            <div class="container">
                <div class="headline">
                    <h2>Recent Posts</h2>
                    <a href="/">View All</a>
                </div>

                <div class="posts">
                    <PostSnippet />
                    <PostSnippet />
                </div>
            </div>
        </section>

        <section class="recent-shoots">
            <div class="container">
                <div class="headline">
                    <h2>Recent Posts</h2>
                    <a href="/">View All</a>
                </div>

                <div class="shoots">
                    <ShootSnippet />
                    <ShootSnippet />
                </div>
            </div>
        </section>

        <div class="container">
            <Footer />
        </div>
    </main>
</body>
</html>
