---
// modules
import { SEO } from "astro-seo"

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import Caption from "@/components/image/Caption"
import PostSnippet from "@/components/PostSnippet"

const allPosts = await Astro.glob("./blog/*.md")
const filteredPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0,4);

const activeSlide = 1;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout classes="space-y-24">
        <h1 slot="heading">Hey there.</h1>
        <Container>
            <Heading>         
                <div class="space-y-6">
                    <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a href="http://www.icgamerica.com" title="ICG America, Inc">ICG America</a>, generating $50 million in direct-to-consumer sales.</p>
                    <p>Oh yeah, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
                </div>
            </Heading>
        </Container>

        <div>
            <div class="relative">
                <div x-show="activeSlide === 1"
                    <Image
                        file="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_073.jpeg"
                        sizes="100vw"
                        classes="rounded-tl-md rounded-bl-md shadow-2xl h-[80vh] object-cover w-full"
                    />
                </div>
                <div x-show="activeSlide === 2"
                    <Image
                        file="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_055.jpeg"
                        sizes="100vw"
                        classes="rounded-tl-md rounded-bl-md shadow-2xl h-[80vh] object-cover w-full"
                    />
                </div>
                <div x-show="activeSlide === 3"
                    <Image
                        file="shoots/2020/2020-02-27-lit-show-day-one/lit-show-2020_038.jpeg"
                        sizes="100vw"
                        classes="rounded-tl-md rounded-bl-md shadow-2xl h-[80vh] object-cover w-full"
                    />
                </div>

                <div class="flex flex-row items-center p-4">
                    <div class="flex flex-row gap-2">
                        <button x-on:click="activeSlide--" class="text-xl text-neutral-600 flex items-center justify-center h-8 w-8 bg-neutral-50 hover:bg-neutral-100 rounded-md border border-neutral-300">&lt;</button>
                        <button x-on:click="activeSlide++" class="text-xl text-neutral-600 hover:text-neutral-800 flex items-center justify-center h-8 w-8 bg-neutral-50 hover:bg-neutral-100 rounded-md border border-neutral-300">&gt;</button>
                    </div>
                </div>
            </div>
        </div>

        <Container>
            <section class="space-y-20">
                {filteredPosts.map(p =>
                    <PostSnippet post={p} />
                )}
            </section>
        </Container>
    </BaseLayout>
</body>
</html>
