---
    // components
    import Navigation from '../components/Navigation.astro'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Dev</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../assets/styles/_global.scss')}>
    <style lang="scss">
        @use '../assets/styles/breakpoints' as *;

        h1 {
            text-align: center;

            @include breakpoint(md) {
                text-align: left;
            }
        }
    </style>
</head>

<body>
    <main>
        <header>
            <Navigation />
            
            <div>
                <h1>
                    Hi, I'm Erik.<br />
                    I'm a CRO &amp;<br />
                    SEM Expert.
                </h1>
            </div>
        </header>
    </main>
</body>
</html>
