---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import Caption from "@/components/image/Caption"
import PostSnippet from "@/components/PostSnippet"
import ShootSnippet from "@/components/ShootSnippet"

const allPosts = await Astro.fetchContent("./blog/*.md")
                            .sort((a, b) => new Date(b.date) - new Date(a.date))
                            .slice(0,6);
const allShoots = await Astro.fetchContent("./photography/*.md")
                             .sort((a, b) => new Date(b.date) - new Date(a.date))
                             .slice(0,4);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Content>
            <Container>
                <Heading>
                    <h1 slot="heading">Hey there.</h1>
                    <p slot="description">For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at ICG America, generating $50 million in direct-to-consumer sales.</p>
                </Heading>
            </Container>

            <Container width="lg">
                <div class="grid grid-cols-2 grid-flow-col gap-4">
                    <figure>
                        <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006.jpg" classes="object-cover h-full w-full" />
                        <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006.jpg" />
                    </figure>
                    <figure>
                        <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg" classes="object-cover h-full w-full" />
                        <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg" />
                    </figure>
                    <figure class="row-span-2">
                        <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg" classes="object-cover h-full w-full" />
                        <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg" />
                    </figure>
                </div>
            </Container>

            <Container>
                <section>
                    <div class="flex justify-between mb-12">
                        <h2>Recent Posts</h2>
                        <div><a class="btn-secondary" href="/blog" title="View All Posts">View All</a></div>
                    </div>

                    <div class="grid grid-cols-3 gap-12">
                        {allPosts.map(p =>
                            <PostSnippet post={p} />
                        )}
                    </div>
                </section>
            </Container>
            
            <Container>
                <section>
                    <div class="flex justify-between mb-12">
                        <h2>Recent Shoots</h2>
                        <div><a class="btn-secondary" href="/photography" title="View All Photoshoots">View All</a></div>
                    </div>

                    <div class="grid grid-cols-2 gap-12">
                        {allShoots.map(s => <ShootSnippet shoot={s} /> )}
                    </div>
                </section>
            </Container>
        </Content>
    </BaseLayout>
</body>
</html>
