---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import Caption from "@/components/image/Caption"
import PostSnippet from "@/components/PostSnippet"
import ShootSnippet from "@/components/ShootSnippet"

const allPosts = await Astro.glob("./blog/*.md")
                            .sort((a, b) => new Date(b.date) - new Date(a.date))
                            .slice(0,6);
const allShoots = await Astro.glob("./photography/*.md")
                             .sort((a, b) => new Date(b.date) - new Date(a.date))
                             .slice(0,6);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Content>
            <Container>
                <Heading>
                    <h1 slot="heading">Hey there.</h1>
                    <div class="space-y-6">
                        <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at <a href="http://www.icgamerica.com" title="ICG America, Inc">ICG America</a>, generating $50 million in direct-to-consumer sales.</p>
                        <p>Oh yeah, I also shoot <a href="/photography" title="Car Photography in Austin, TX">car photography</a>.</p>
                    </div>
                </Heading>
            </Container>

            <Container>
                <section class="space-y-10">
                    <div class="grid grid-cols-3 gap-10">
                        <h2 class="col-span-3 sm:col-span-2">Recent Photos</h2>
                        
                        <div class="col-span-3 sm:col-span-1 sm:justify-self-end order-3 sm:order-2">
                            <a class="w-full sm:w-fit btn-secondary" href="/photography" title="View All Photos">More Photos</a>
                        </div>
                        
                        <div class="order-2 sm:order-3 col-span-3 grid grid-cols-1 sm:grid-cols-2 grid-flow-row sm:grid-flow-col gap-5">
                            <figure>
                                <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006.jpg" classes="object-cover h-full w-full" />
                                <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006.jpg" />
                            </figure>
                            <figure>
                                <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg" classes="object-cover h-full w-full" />
                                <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg" />
                            </figure>
                            <figure class="row-span-2">
                                <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg" classes="object-cover h-full w-full" />
                                <Caption file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg" />
                            </figure>
                        </div>

                    </div>
                    
                    <div class="flex gap-6 flex-col sm:flex-row sm:justify-between">
                            
                    </div>
                </section>
            </Container>

            <Container>
                <section class="space-y-10">
                    <div class="grid grid-cols-3 gap-10">
                        <h2 class="col-span-3 sm:col-span-2">Recent Posts</h2>
                        
                        <div class="col-span-3 sm:col-span-1 sm:justify-self-end order-3 sm:order-2">
                            <a class="w-full sm:w-fit btn-secondary" href="/blog" title="View All Posts">More Posts</a>
                        </div>
                        
                        <div class="order-2 sm:order-3 col-span-3 grid grid-cols-1 md:grid-cols-2 gap-10">
                            {allPosts.map(p =>
                                <PostSnippet post={p} />
                            )}
                        </div>
                    </div>
                </section>
            </Container>
        </Content>
    </BaseLayout>
</body>
</html>
