---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Content from "@/components/Content"
import Container from "@/components/Container"
import Heading from "@/components/Heading"
import Image from "@/components/image/Image"
import PostSnippet from "@/components/PostSnippet"
import ShootSnippet from "@/components/ShootSnippet"

const allPosts = await Astro.fetchContent("./blog/*.md")
                            .sort((a, b) => new Date(b.date) - new Date(a.date))
                            .slice(0,6);
const allShoots = await Astro.fetchContent("./photography/*.md")
                             .sort((a, b) => new Date(b.date) - new Date(a.date))
                             .slice(0,4);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="I'm a Digital Marketing Expert and Car Photographer in Austin, TX"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows."
    />

    <style lang="scss">
        @use "../assets/styles/breakpoints" as *;

        .gallery {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: var(--space-lg);

            margin-bottom: var(--section-spacing-xl);

            :global(img) {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &.span {
                    grid-area: 1 / 2 / 3 / 3;
                }
            }
        }

        .headline {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            margin-bottom: var(--space-xl);

            @include breakpoint(md) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            h2 { margin: 0; }
        }

        .recent-posts {
            margin-bottom: var(--section-spacing-xl);
            
            .posts {
                @include breakpoint(lg) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }

        .recent-shoots {
            .shoots {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    </style>
</head>

<body>
    <BaseLayout>
        <Content fullWidth={true}>
            <Container>
                <Heading>
                    <h1 slot="heading">Hey<br />there.</h1>
                    
                    <p>For fifteen years, I've run digital marketing campaigns. Lately, I've been in charge of revenue growth at ICG America, generating $50 million in direct-to-consumer sales.</p>
                    <p>I'm also a car photographer in Austin, TX. I've shot dozens of cars for Bring a Trailer auctions.</p>
                </Heading>
            </Container>

            <Container width="lg">
                <div class="gallery">
                    <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_006.jpg" />
                    <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_007.jpg" />
                    <Image file="shoots/2020/2020-02-29-lit-show-day-three/lit-show-2020_002.jpg" classes="span" />
                </div>
            </Container>

            <Container>
                <section class="recent-posts">
                    <div class="headline">
                        <h2>Recent Posts</h2>
                        <a href="/blog" class="pill pill-primary" title="View All Posts">View All</a>
                    </div>

                    <div class="posts">
                        {allPosts.map(p =>
                            <PostSnippet post={p} />
                        )}
                    </div>
                </section>
            </Container>

            <Container>
                <section class="recent-shoots">
                    <div class="headline">
                        <h2>Recent Shoots</h2>
                        <a href="/photography" class="pill pill-primary" title="View All Photoshoots">View All</a>
                    </div>

                    <div class="shoots">
                        {allShoots.map(s => <ShootSnippet shoot={s} /> )}
                    </div>
                </section>
            </Container>
        </Content>
    </BaseLayout>
</body>
</html>
