---
// components
import Navigation from "@/components/Navigation"
import Footer from "@/components/Footer"

// props
export interface Props {
    classes?: string
}
const { classes } = Astro.props;
---

<style lang="scss">
    .main-grid {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        grid-auto-rows: 1fr;
        gap: 4rem;
        grid-auto-flow: row;
    }
</style>

<main class="mt-24 ml-12">
    <div class="main-grid">
        <div class="col-start-2">
            <slot name="heading" />
        </div>
        
        <Navigation />

        <main class={`${classes}`}>
            <slot />
            
            <Footer />
        </main>
    </div>
</main>