---
// data
import Settings from '../data/settings.json'

// props
export interface Props {
    title?: string,
    description?: string
}
const {
    title = "I'm a Digital Marketing Expert and Car Photographer in Austin, TX",
    description = "Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He's also an automotive photographer shooting photos at Austin car shows.",
} = Astro.props;
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{title}</title>
<meta name="description" content={description}>
<meta name="author" content={Settings.name} />

<link rel="stylesheet" href={Astro.resolve('../assets/styles/_global.scss')}>

<script>
    window.GUMLET_CONFIG = {
        hosts: [{
            current: "https://lucid-yonath-1194bd.netlify.app/",
            gumlet: "https://eriksolsen.gumlet.io"
        }],
        lazy_load: true,
    };
    (function(){d=document;s=d.createElement("script");s.src="https://cdn.gumlet.com/gumlet.js/2.1/gumlet.min.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>