---
// components
import Contact from "@/components/Contact"
import Navigation from "@/components/Navigation"
import Footer from "@/components/Footer"
---

<main class="space-y-24">
    <Navigation />

    <slot />

    <div>
        <Contact />
        <Footer />
    </div>
</main>