---
// components
import Contact from "@/components/Contact"
import Navigation from "@/components/Navigation"
import Footer from "@/components/Footer"

const contact = new URL(Astro.request.url).pathname.includes("contact");
---

<main class="space-y-24">
    <Navigation />

    <slot />

    <div>
        { !contact ?
            <Contact /> :
            ``
        }
        <Footer />
    </div>
</main>