---
// components
import Contact from "@/components/Contact"
import Navigation from "@/components/Navigation"
import Footer from "@/components/Footer"

// props
export interface Props {
    classes?: string
}
const { classes } = Astro.props;

const contact = new URL(Astro.request.url).pathname.includes("contact");
---

<main class="mt-24">
    <div class="flex">
        <Navigation />

        <main class=`mt-12 ${classes}`>
            <slot />

            { !contact ?
                <Contact /> :
                ``
            }
            
            <Footer />
        </main>
    </div>
</main>