---
// components
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
---
<main>
    <Navigation />

    <div class="container">
        <div class="flex">
            <slot />
        </div>
    </div>

    <Footer />
</main>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .flex {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--space-xl);
    }
</style>