---
// props
export interface Props {
    category: object,
    url: string
}
const { category, url } = Astro.props;
---

<div class="categories">
    <h4>Categories</h4>
    {category.map(c =>
        <a class="category" href="/${url}/categories/${c}">{c}</a>
    )}
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .categories {
        h4 { margin-top: 0; }
        
        a:not(:last-child) {
            margin-bottom: var(--space-xs);
        }
    }

    .category {
        display: block;
        text-transform: capitalize;
    }
</style>