---
// props
export interface Props {
    categories: object,
    base: string
}
const { categories, base } = Astro.props;
---
    
<ul class="category-list">
    {categories.map(c =>
        <li class="category">
            <a href={`/${base}/categories/${c}`} title={`Posts categorized under ${c}`}>{c}</a>
        </li>
    )}
</ul>

<style lang="scss">
    @use "../assets/styles/breakpoints" as *;

    .category-list {
        list-style-type: none;
        padding: 0;

        .category {
            display: block;
            text-transform: capitalize;
            font-size: var(--text-sm);

            @include breakpoint(md) {
                font-size: var(--text-md);
            }
        }
    }
</style>