---
// props
export interface Props {
    category: object,
    url: string
}
const { category, url } = Astro.props;
---

<div class="categories">
    <h4>Categories</h4>
    
    <ul class="category-list">
        {category.map(c =>
            <li class="category"><a href="/${url}/categories/${c}" title="Posts categorized under '${c}'">{c}</a></li>
        )}
    </ul>
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .categories {
        h4 { margin: 0 0 var(--space-xs) 0; }
        
        a:not(:last-child) {
            margin-bottom: var(--space-xs);
        }
    }

    ul {
        padding: 0;
        
        .category {
            display: block;
            text-transform: capitalize;
            font-size: var(--text-sm);

            @include breakpoint(md) {
                font-size: var(--text-md);
            }
        }
    }
</style>