---
// props
export interface Props {
    fullWidth?: boolean
}
const { fullWidth = false } = Astro.props;
---

<div class=`${fullWidth ? 'full-width' : ''}`>
    <slot />
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        width: 100%;
        
        @include breakpoint(md) {
            flex-grow: 0;
            flex-shrink: 0;
            width: 100%;
        }
        @include breakpoint(lg) {
            width: 65%;
        }
    }

    div.full-width {
        @include breakpoint(lg) {
            width: 100%;
        }
    }
</style>