---
// props
export interface Props {
    classes?: string
}
const { classes = "space-y-24" } = Astro.props;
---

<div class={`px-8 lg:px-16 max-w-screen-lg container mx-auto ${classes}`}>
    <slot />
</div>