---
// modules
import { BackgroundPicture } from "astro-imagetools/components"

// components
import Container from "@/components/Container"
---

<style lang="scss">
    button {
        @apply bg-gray-800 text-white p-4 font-semibold hover:bg-gray-700 capitalize
    }
</style>

<BackgroundPicture src="/src/assets/images/shoots/2020/2020-02-28-lit-show-day-two/lit-show-2020_035.jpg">
    <div class="bg-white bg-blend-lighten bg-opacity-90 relative shadow-inner">
        <Container>
            <div class="py-24">
                <h2 class="h1">Contact Me</h2>
                
                <div class="flex flex-col lg:flex-row justify-between mt-8 gap-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                        <div class="space-y-6">
                            <p class="font-light text-xl leading-loose">Looking for help with car photography or have questions about digital marketing? Fill out the form and I'll get back to you ASAP.</p>
                        </div>
                        
                        <form action="/contact/success/" name="Contact - Page" method="POST" data-netlify="true" class="grid grid-cols-1 gap-y-6 w-full">
                            <div>
                                <label for="name" class="sr-only">Full name</label>
                                <input type="text" name="name" id="name" autocomplete="name" class="block w-full py-3 px-4 placeholder-gray-500 rounded border-slate-300 focus:ring-slate-400 focus:border-slate-400" placeholder="Your name" required>
                            </div>

                            <div>
                                <label for="email" class="sr-only">Email</label>
                                <input id="email" name="email" type="email" autocomplete="email" class="block w-full py-3 px-4 placeholder-gray-500 rounded border-slate-300 focus:ring-slate-400 focus:border-slate-300" placeholder="Email" required>
                            </div>
                            
                            <div>
                                <label for="message" class="sr-only">Message</label>
                                <textarea id="message" name="message" rows="4" class="block w-full py-3 px-4 placeholder-gray-500 rounded border-slate-300 focus:ring-slate-400 focus:border-slate-400" placeholder="Message"></textarea>
                            </div>
                            
                            <div>
                                <button type="submit" class="btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</BackgroundPicture>