---
// props
export interface Props {
    width?: string
}
const { width = "md" } = Astro.props;
---

<div class={`container ${width}`}>
    <slot />
</div>

<style lang="scss">
    @use "../assets/styles/breakpoints" as *;

    .container {
        margin: 0 auto;

        &.sm { max-width: 1000px; }
        &.md {
            max-width: 1200px;
            padding: 0 var(--space-sm);
        }
        &.lg { max-width: $site-width; }
    }
</style>