<div>
    <div class="space-y-10 md:w-3/4 lg:w-1/2">
        <div>
            <slot name="heading" />
        </div>
        
        <div class="leading-7 text-lg sm:text-xl sm:leading-9 text-stone-700 font-light">
            <slot name="description" />
        </div>
    </div>
</div> 