<div>
    <div class="prose space-y-10 md:w-3/4 lg:w-1/2">
        <div>
            <slot name="heading" />
        </div>

        <hr class="bg-slate-900 w-24" />
        
        <div class="text-xl leading-9 text-stone-700 font-light">
            <slot name="description" />
        </div>
    </div>
</div>