<style lang="scss">
    .description {
        @apply text-4xl leading-10 text-stone-700;
        font-variation-settings: "wght" 200;

        :global(a) {
            @apply bg-amber-100 p-2 rounded-sm;
            
        }
    }
</style>

<div class="space-y-10 md:w-3/4">
    <slot name="heading" />
    
    <div class="description">
        <slot />
    </div>
</div>