<div>
    <div class="space-y-10 md:w-3/4 lg:w-1/2">
        <div>
            <slot name="heading" />
        </div>

        <hr class="bg-slate-900 w-24" />
        
        <div class="leading-7 text-lg sm:text-2xl sm:leading-10 text-stone-700 font-light">
            <slot name="description" />
        </div>
    </div>
</div> 