<div>
    <div class="space-y-10 md:w-3/4 lg:w-1/2">
        <div>
            <slot name="heading" />
        </div>

        <hr class="bg-slate-900 w-28" />
        
        <div class="text-2xl text-stone-700 font-light leading-relaxed">
            <slot name="description" />
        </div>
    </div>
</div>