<style lang="scss">
    .description {
        @apply text-lg md:text-2xl leading-8 md:leading-10 text-stone-700 font-light;

        :global(a) {
            @apply bg-amber-100 p-1 no-underline italic;
        }
    }
</style>

<div class="space-y-10 md:w-3/4">
    <slot name="heading" />

    <hr class="bg-neutral-900 w-24" />
    
    <div class="description">
        <slot />
    </div>
</div>