---
// data
import Navigation from '@/data/navigation'
import Settings from '@/data/settings'
---

<header class="container">
    <div>
        <a href="/" title="Homepage">
            <img src="/images/logo.svg" alt={Settings.name} />
        </a>
    </div>

    <nav>        
        {Navigation.map((item) => (
            <a href={item.url} title={item.display}>
                {item.display}
            </a>
        ))}
    </nav>
</header>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;
    
    header {        
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        margin-bottom: var(--section-spacing-lg);

        @include breakpoint(md) {
            margin-bottom: var(--section-spacing-lg);
        }
        @include breakpoint(lg) {
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
        }


        img {
            max-width: 50vw;

            @include breakpoint(md) {
                max-width: 250px;
            }
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include breakpoint(md) {
                justify-content: flex-start;
                a:last-child { margin-right: 0; }
            }

            @include breakpoint(lg) {
                justify-content: flex-end;
            }
        }
        nav a {
            font-weight: 300;
            font-size: var(--text-sm);

            @include breakpoint(md) {
                margin-right: var(--space-lg);
                font-weight: 400;
                font-size: var(--text-md);
            }
        }
    }
</style>