---
// components
import Container from "@/components/Container"

// data
import Navigation from "@/data/navigation"
---

<Container>
    <header class="flex flex-row py-8 justify-between items-center">
        <div class="flex flex-row items-center">
            <!-- logo -->
            <div class="w-48">
                <a class="font-extrabold tracking-tighter text-3xl uppercase" href="/" title="Homepage">
                    ErikOlsen
                </a>
            </div>

            <!-- navigation items -->
            <nav class="gap-x-6">
                {Navigation.map((item) => (
                    <a href={item.url} title={item.display}>
                        {item.display}
                    </a>
                ))}
            </nav>
        </div>

        <div>
            <a href="/contact" class="btn btn-primary" title="Contact Me">Contact</a>
        </div>
    </header>
</Container>