---
// components
import Container from '@/components/Container'

// data
import Navigation from '@/data/navigation'
---

<Container>
    <header>
        <div>
            <a href="/" title="Homepage">
                <img src="/images/logo-black.svg" />
            </a>
        </div>

        <nav>        
            {Navigation.map((item) => (
                <a href={item.url} title={item.display}>
                    {item.display}
                </a>
            ))}
            <a href="/contact" class="btn btn-primary" title="Contact Me">
                Contact
            </a>
        </nav>
    </header>
</Container>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    header {        
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        margin-bottom: var(--section-spacing-lg);

        @include breakpoint(md) {
            margin-bottom: var(--section-spacing-xl);
            align-items: start;
        }
        @include breakpoint(lg) {
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
        }

        img {
            max-height: 35px;
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: var(--space-xl);

            @include breakpoint(md) {
                justify-content: flex-start;
                
                a:last-child { margin-right: 0; }
            }

            @include breakpoint(lg) {
                justify-content: flex-end;
            }

            a {
                font-weight: 300;
                font-size: var(--text-md);

                @include breakpoint(md) {
                    font-weight: 400;
                }
            }
        }
    }
</style>