---
// components
import Container from "@/components/Container"

// data
import Navigation from "@/data/navigation"
---

<Container>
    <header class="flex flex-row items-center py-8">
        <!-- logo -->
        <div class="w-48">
            <a class="font-extrabold tracking-tighter text-3xl uppercase" href="/" title="Homepage">
                ErikOlsen
            </a>
        </div>

        <!-- navigation items -->
        <nav>
            {Navigation.map((item) => (
                <a href={item.url} title={item.display}>
                    {item.display}
                </a>
            ))}
            <a href="/contact" class="btn btn-primary" title="Contact Me">Contact</a>
        </nav>
    </header>
</Container>