---
// data
import Navigation from "@/data/navigation"
---
<aside>
    <header class="flex flex-col gap-6">
        <div>
            <a class="tracking-tighter text-3xl lowercase" href="/" title="Homepage">
                ErikOlsen
            </a>
        </div>

        <nav class="flex flex-col gap-2">
            {Navigation.map((item) => (
                <a class="lowercase thin-underline text-lg" href={item.url} title={item.display}>
                    {item.display}
                </a>
            ))}
        </nav>
    </header>
</aside>