---
// components
import Container from "@/components/Container"

// data
import Navigation from "@/data/navigation"
---
<aside class="h-screen sticky top-0 w-fit p-8">
    <header class="flex flex-col justify-between">
        <div class="flex flex-col gap-8">
            <!-- logo -->
            <div>
                <a class="font-extrabold tracking-tighter text-3xl lowercase" href="/" title="Homepage">
                    ErikOlsen
                </a>
            </div>

            <!-- navigation items -->
            <nav class="flex flex-col gap-2">
                {Navigation.map((item) => (
                    <a class="lowercase no-underline" href={item.url} title={item.display}>
                        {item.display}
                    </a>
                ))}
            </nav>
        </div>
    </header>
</aside>