---
// props
export interface Props {
    page: object
}
const { page } = Astro.props;
---

<style>
    .pagination {
        @apply flex flex-row justify-between items-center;
    }

    .action {
        @apply flex flex-row gap-2;
    }
</style>

<div class="pagination">
    <div class="count">
        {page.start + 1} to {page.end + 1} of {page.total}
    </div>

    <div class="action">
        <div>
            { page.url.prev ? 
                <a href=${page.url.prev}#anchor class="whitespace-nowrap btn-secondary">Previous</a> :
                <span class="btn-secondary btn-disabled">Previous</span>
            }
        </div>

        <div>
            { page.url.next ? 
                <a href=${page.url.next} class="whitespace-nowrap btn-secondary">Next</a> :
                <span class="btn-secondary btn-disabled">Next</span>
            }
        </div>
    </div>
</div>