---
// functions
import { timeAgo } from "@/functions/DateTime"

// props
export interface Props {
    post: object
}
const { post } = Astro.props;
---

<div class="space-y-4 max-w-screen-lg">
    <a class="thick-underline" href={post.url} title={post.frontmatter.title}>
        <h2 class="leading-normal">{post.frontmatter.title}</h2>
    </a>

    <p class="text-3xl font-light leading-relaxed">{post.frontmatter.description}</p>
</div>