---
// props
export interface Props {
    posts: object,
}
const { posts } = Astro.props;

// get all posts
const allPosts = Astro.fetchContent("../pages/blog/new-camera-and-lenses.md");
const relatedPosts = posts.map(r => {
    return allPosts.find((post) => post.url.includes(r));
});
---

<div>
    {relatedPosts.map(r => 
        <a href={r.url} title={r.title}><h5>{r.title}</h5></a>
        <p>{r.description}</p>
    )}
</div>