---
// props
export interface Props {
    posts: object,
}
const { posts } = Astro.props;

// get all posts
const allPosts = Astro.fetchContent('../pages/**/*.md');
const relatedPosts = posts.map(r => {
    return allPosts.find((post) => post.url.includes(r));
});
---

<style lang="scss">
    h5 { margin-bottom: var(--space-sm); }
    p { font-size: var(--text-sm); }
</style>

<div>
    {relatedPosts.map(r => 
        <a href={r.url} title={r.title}><h5>{r.title}</h5></a>
        <p>{r.description}</p>
    )}
</div>