---
import Search from '@/components/Search'
---

<div class="sidebar">
    <slot />
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;
    
    .sidebar {
        position: sticky;
        top: var(--space-lg);
        align-self: start;
    }
</style>