<div class="sidebar">
    <slot />
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;
    
    .sidebar {
        display: flex;
        flex-direction: row;
        gap: var(--space-xl);
        top: var(--space-lg);
        align-self: start;

        @include breakpoint(md) {
            flex-direction: column;
            position: sticky;
        }

        :global(a) {
            text-decoration: underline;
            text-decoration-color: var(--color-grayscale-40);
        }
    }
</style>