<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">

<div class="mobile solid-shadow-yellow">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
</div>

<aside class="sidebar">
    <slot />
</aside>