---
// props
export interface Props {
    tags: object,
    base: string
}
const { tags, base } = Astro.props;
---
<style lang="scss">
    a:nth-of-type(n + 2) {     
        &::before {
            content: ", ";
        }
    }
</style>

{tags.map(t =>
    <a href={`/${base}/tags/${t}`} title={`Posts tagged ${t}`}>{t}</a>
)}