---
// props
export interface Props {
    tag: object,
    url: string
}
const { tag, url } = Astro.props;
---

<div class="tags">
    <h4>Tags</h4>
    
    <ul class="tag-list">
        {tag.map(t =>
            <li class="tag"><a href="/${url}/tags/${t}" title="Posts tagged '${t}'">{t}</a></li>
        )}
    </ul>
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .tags {
        h4 { margin: 0 0 var(--space-xs) 0; }
        
        ul {
            list-style-type: none;
            padding: 0;
            
            li {
                display: inline;
                font-size: var(--text-sm);

                @include breakpoint(md) {
                    font-size: var(--text-md);
                }
            }
        }
    }
    .tag:not(:last-child)::after {
        content: ', '
    }
</style>