---
// props
export interface Props {
    tag: object,
    url: string
}
const { tag, url } = Astro.props;
---

<div class="tags">
    <h4>Tags</h4>
    
    <div>
        {tag.map(t =>
            <a class="tag" href="/${url}/tags/${t}">{t}</a>
        )}
    </div>
</div>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .tags {
        h4 { margin: 0 0 var(--space-xs) 0; }
        
        div {
            line-height: var(--space-md);
        }
    }
    .tag:not(:last-child)::after {
        content: ', '
    }
</style>