---
// props
export interface Props {
    tags: object,
    base: string
}
const { tags, base } = Astro.props;
---

<ul class="tag-list">
    {tags.map(t =>
        <li class="tag">
            <a href="/${base}/tags/${t}" title="Posts tagged '${t}'">{t}</a>
        </li>
    )}
</ul>

<style lang="scss">
    @use '../assets/styles/breakpoints' as *;

    .tag-list {        
        list-style-type: none;
        padding: 0;

        .tag {
            display: inline;
            font-size: var(--text-sm);
            
            @include breakpoint(md) {
                font-size: var(--text-md);
            }

            &:not(:last-child)::after {
                content: ', '
            }
        }
    }
</style>