---
// components
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import Search from '@/components/Search'
---

<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script>
    import Index from '/public/search-index.json'

    const query = "zeiss";
    const options = {
        includeScore: true,
        keys: ['slug', 'category', 'title']
    }
    const fuse = new Fuse(Index, options);
    const results = fuse.search(query);
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead
        title="Car Photography in Austin, TX"
        description="During the summer months you'll catch me shootin photos at Cars and Coffee at COTA or Coffee With Cars in Dripping Springs. I also do freelance photography for Bring a Trailer auctions."
    />
</head>

<body>
    <main>
        <header class="container">
            <Header />

            <div class="constraint-lg">
                <h1>Search</h1>
            </div>
        </header>

        <section class="container">
            <div class="constraint-lg">
                <Search placeholder="Search" />

                {results.map(result =>
                    {result.item}
                )}
            </div>
        </section>

        <Footer />
    </main>
</body>
</html>
