---
// modules
import { SEO } from "astro-seo";

// components
import BaseHead from "@/components/BaseHead"
import BaseLayout from "@/components/BaseLayout"
import Heading from "@/components/Heading"
import Content from "@/components/Content"
import Container from "@/components/Container"
import ShootSnippet from "@/components/ShootSnippet"
import Pagination from "@/components/Pagination"

// data
import { pageSize } from "@/src/config.ts"

export async function getStaticPaths({ paginate }) {
    const allShoots = Astro.glob("../../*.md");
    const allCategories = new Set();
    
    allShoots.map(s => {
        allCategories.add(s.category.toLowerCase());
    });
    
    return Array.from(allCategories).map((category) => {
        const filteredShoots = allShoots.filter((post) => post.category.includes(category))
                                        .sort((a, b) => new Date(b.date) - new Date(a.date));
        
        return paginate(filteredShoots, {
            params: { category },
            pageSize: pageSize
        });
    });
}

const { page } = Astro.props
const { params } = Astro.request
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <SEO
        title="Blog - Digital Marketing, Jamstack Programming and Car Photography"
        description="Erik Olsen is the Director of Digital Engagement at ICG America in Austin, TX. He&#39;s also an automotive photographer shooting photos at Austin car shows."
    />
</head>

<body>
    <BaseLayout>
        <Container>
            <Heading>
                <h1>Shoots Categorized by "<span style="text-transform: capitalize">{params.category}</span>"</h1>
            </Heading>
        </Container>
        
        <Container>
            <Content>
                <section class="grid grid-cols-1 gap-12">
                    {page.data.map(s =>
                        <ShootSnippet shoot={s} />
                    )}
                </section>

                <Pagination page={page} />
            </Content>
        </Container>
    </BaseLayout>
</body>
</html>