@import url('https://rsms.me/inter/inter.css');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './buttons.scss';
@import './images.scss';
@import './typography.scss';
@import './spacing.scss';

html { font-family: 'Inter var', sans-serif; }

a {
    text-decoration: underline 0.15rem rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}
a:hover {
    text-decoration-color: currentColor;
}