@use 'breakpoints' as *;
@use 'typography';
@use 'colors';
@use 'layout';
@use 'spacing';
@use 'buttons';
@use 'images';
@use 'forms';
@use 'prism';

@font-face {
    font-family: "Hebbo";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/fonts/Heebo-Variable.ttf") format("truetype-variations");
}

:root {
    --site-radius: 0.3rem;
    --site-transition: .3s;
    --site-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-image:
            radial-gradient(circle at top center, var(--color-yellow-20) 0, transparent 60vh),
            radial-gradient(circle at bottom left, var(--color-pink-20) 0, transparent 60vh);
    margin: var(--body-top-margin-sm) 0 0 0;

    @include breakpoint(md) {
        margin: var(--body-top-margin-lg) 0 0 0;
    }
    @include breakpoint(lg) {
        background-image:
            radial-gradient(circle at top center, var(--color-yellow-30) 0, transparent 30vw),
            radial-gradient(circle at bottom right, var(--color-pink-20) 0, transparent 60vw);
    }
}
a {
    color: var(--color-link);

    &:visited {
        color: var(--color-link-visited);
    }
}
figure {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: var(--section-spacing-sm);
    
    @include breakpoint(md) {
        margin-bottom: var(--section-spacing-md);
    }
}

/* post display */
.posts, .shoots {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-xl);

    @include breakpoint(lg) {
        gap: var(--space-xl);
    }
}

/* content area */
.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);

    @include breakpoint(md) {
        flex-direction: row;
        //justify-content: space-between;
    }
}