@use "breakpoints" as *;
@use "typography";
@use "colors";
@use "layout";
@use "spacing";
@use "buttons";
@use "images";
@use "forms";
@use "prism";

@font-face {
    font-family: "Hebbo";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/fonts/Heebo-Variable.ttf") format("truetype-variations");
}

:root {
    --site-radius-sm: 0.35rem;
    --site-radius-md: 0.7rem;
    --site-radius-lg: 1rem;
    
    --site-transition: .3s;
    --site-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

html {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}
body { 
    margin: 0;
}
a {
    color: var(--color-link);

    &:visited {
        color: var(--color-link-visited);
    }
}
figure {
    margin: 0;
    padding: 0;
}

/* post display */
.posts, .shoots {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-xl);

    @include breakpoint(lg) {
        gap: var(--space-xl);
    }
}

/* content area */
.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);

    @include breakpoint(md) {
        flex-direction: row;
    }
}