@import url('https://rsms.me/inter/inter.css');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './buttons.scss';
@import './images.scss';
@import './typography.scss';
@import './spacing.scss';

html { font-family: 'Inter var', sans-serif; }

a.thick-underline {
    text-decoration: underline 0.2rem rgba(0, 0, 0, 0);
}
a.thin-underline {
    text-decoration: underline 0.1rem rgba(0, 0, 0, 0);
}
a.thick-underline, a.thin-underline {
    transition: text-decoration-color 300ms;
}
a.thick-underline:hover, a.thin-underline:hover {
    text-decoration-color: currentColor;
}