@use 'breakpoints';
@use 'typography';
@use 'colors';
@use 'layout';
@use 'spacing';

@font-face {
    font-family: "Hebbo";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/Heebo-Variable.ttf") format("truetype-variations");
}

body {
    margin: var(--side-margins)
}

main {
    max-width: breakpoints.$bp-lg;
    margin: var(--body-top-margin) auto 0 auto;
}