$site-width: 900px; // max width of the container
$bp-lg: 768px; // large breakpoint
$bp-md: 480px; // tablet breakpoint

/* declare breakpoints */
@mixin breakpoint($width) {
    @if $width == md {
        @media (min-width: $bp-md) { @content; }
    }
    @else if $width == lg {
        @media (min-width: $bp-lg) { @content; }
    }
}