:root {
    --btn-font-size: var(--text-md);
}

.btn {
    font-weight: 500;
    border-radius: var(--site-radius);
    display: inline-flex;
    
    span {
        border-radius: var(--site-radius);
        border-style: solid;
        padding: var(--space-xs) var(--space-md);
        cursor: pointer;
        text-transform: uppercase;
        
        transform: translate3d(-.3em, -0.3em, 0);
        transition: transform 240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-delay: 150ms;
    }
    &:active, &.click {
        span {
            transform: translate3d(0, 0, 0);
            transition: transform 120ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
        }
    }  
}

.btn-primary {
    background-color: var(--color-yellow);

    span {
        background-color: var(--color-yellow-50);
        border-color: var(--color-yellow-50);
    }
}
.btn-secondary {
    background-color: var(--color-pink);

    span {
        background-color: var(--color-yellow);
        border-color: var(--color-yellow);
    }
}