.btn {
    font-weight: 500;
    font-size: var(--text-md);
    border-radius: var(--site-radius-sm);
    padding: var(--space-md);

    transition: all var(--site-transition) ease-in-out;

    &.btn-primary {
        color: var(--color-white);
        background: var(--color-pink);

        &:hover {
            background: var(--color-pink-80);
        }
    }
    &.btn-secondary {
        color: var(--color-white);
        background: var(--color-midnight);

        &:hover {
            background: var(--color-midnight-80);
        }
    }
}

.pill {
    font-weight: 500;
    border-radius: var(--site-radius-lg);
    padding: var(--space-xs) var(--space-sm);
    width: max-content;
    
    transition: all var(--site-transition) ease-in-out;

    &.pill-primary {
        color: var(--color-white);
        background: var(--color-pink);
        
        &:hover {
            background: var(--color-pink-80);
        }
    }

    &.pill-secondary {
        color: var(--color-black);
        background: var(--color-yellow);

        &:hover {
            background: var(--color-yellow-80);
        }
    }
}