:root {
    --btn-font-size: var(--text-md);
}

.btn {
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;

    padding: var(--space-sm) var(--space-md);
    border-radius: var(--site-radius);
    font-size: var(--btn-font-size);
    transition-property: background-color;
    transition-duration: 400ms;
    transition-delay: none;
}

.btn-primary { 
    background-color: var(--color-yellow-70);
    color: var(--color-grayscale-80);
    font-weight: 500;
    border-bottom:5px solid var(--color-yellow-90);

    &:visited {
        color: var(--color-grayscale-80);
    }
    &:hover {
        background-color: var(--color-yellow-50);
    }
}
.btn-secondary { 
    background-color: var(--color-pink-70);
    color: var(--color-white);
    font-weight: 500;
    border-bottom:5px solid var(--color-pink-90);

    &:visited {
        color: var(--color-white);
    }
    &:hover {
        background-color: var(--color-pink-50);
    }
}