:root {
    --color-white: #ffffff;

    --color-grayscale: #000000;
    --color-grayscale-90: #1a1a1a;
    --color-grayscale-80: #333333;
    --color-grayscale-70: #4d4d4d;
    --color-grayscale-60: #666666;
    --color-grayscale-50: #808080;
    --color-grayscale-40: #999999;
    --color-grayscale-30: #b3b3b3;
    --color-grayscale-20: #cccccc;
    --color-grayscale-10: #e6e6e6;

    --color-pink: #ef476f;
    --color-pink-90: #f15a7e;
    --color-pink-80: #f26c8c;
    --color-pink-70: #f47f9b;
    --color-pink-60: #f591a9;
    --color-pink-50: #f7a3b7;
    --color-pink-40: #f9b5c5;
    --color-pink-30: #fbc8d4;
    --color-pink-20: #fcdae2;
    --color-pink-10: #feedf1;
    
    --color-yellow: #ffd166;
    --color-yellow-90: #ffd676;
    --color-yellow-80: #ffda85;
    --color-yellow-70: #ffdf94;
    --color-yellow-60: #ffe3a3;
    --color-yellow-50: #ffe8b3;
    --color-yellow-40: #ffedc2;
    --color-yellow-30: #fff2d2;
    --color-yellow-20: #fff6e0;
    --color-yellow-10: #fffbf0;

    --color-green: #06d6a0;
    --color-green-90: #1fdbaa;
    --color-green-80: #38deb3;
    --color-green-70: #51e38d;
    --color-green-60: #6ae6c6;
    --color-green-50: #83ebd0;
    --color-green-40: #9befd9;
    --color-green-30: #b5f3e3;
    --color-green-20: #cdf7ec;
    --color-green-10: #e7fbf6;

    --color-blue: #118ab2;
    --color-blue-90: #2996ba;
    --color-blue-80: #41a1c1;
    --color-blue-70: #59aeca;
    --color-blue-60: #70b9d1;
    --color-blue-50: #88c5d9;
    --color-blue-40: #a0d0e0;
    --color-blue-30: #b8dce8;
    --color-blue-20: #cfe8f0;
    --color-blue-10: #e8f4f8;

    --color-midnight: #073b4c;
    --color-midnight-90: #204f5e;
    --color-midnight-80: #396270;
    --color-midnight-70: #527682;
    --color-midnight-60: #6a8994;
    --color-midnight-50: #839da6;
    --color-midnight-40: #9cb1b7;
    --color-midnight-30: #b5c5ca;
    --color-midnight-20: #cdd8db;
    --color-midnight-10: #e7ecee;
    
    --color-link: var(--grayscale-70);
    --color-link-visited: var(--grayscale-70);
}