:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;

    --pink: 239, 71, 111;
    --yellow: 255, 209, 102;
    --green: 6, 214, 160;
    --blue: 17, 138, 178;
    --midnight: 7, 59, 76;

    --color-white: rgba(255, 255, 255, 1);

    --color-grayscale: rgba(var(--black), 1);
    --color-grayscale-10: rgba(var(--black), .1);
    --color-grayscale-20: rgba(var(--black), .2);
    --color-grayscale-30: rgba(var(--black), .3);
    --color-grayscale-40: rgba(var(--black), .4);
    --color-grayscale-50: rgba(var(--black), .5);
    --color-grayscale-60: rgba(var(--black), .6);
    --color-grayscale-70: rgba(var(--black), .7);
    --color-grayscale-80: rgba(var(--black), .8);
    --color-grayscale-90: rgba(var(--black), .9);

    --color-pink: rgba(var(--pink), 1);
    --color-pink-10: rgba(var(--pink), .1);
    --color-pink-20: rgba(var(--pink), .2);
    --color-pink-30: rgba(var(--pink), .3);
    --color-pink-40: rgba(var(--pink), .4);
    --color-pink-50: rgba(var(--pink), .5);
    --color-pink-60: rgba(var(--pink), .6);
    --color-pink-70: rgba(var(--pink), .7);
    --color-pink-80: rgba(var(--pink), .8);
    --color-pink-90: rgba(var(--pink), .9);

    --color-yellow: rgba(var(--yellow), 1);
    --color-yellow-10: rgba(var(--yellow), .1);
    --color-yellow-20: rgba(var(--yellow), .2);
    --color-yellow-30: rgba(var(--yellow), .3);
    --color-yellow-40: rgba(var(--yellow), .4);
    --color-yellow-50: rgba(var(--yellow), .5);
    --color-yellow-60: rgba(var(--yellow), .6);
    --color-yellow-70: rgba(var(--yellow), .7);
    --color-yellow-80: rgba(var(--yellow), .8);
    --color-yellow-90: rgba(var(--yellow), .9);

    --color-green: rgba(var(--green), 1);
    --color-green-10: rgba(var(--green), .1);
    --color-green-20: rgba(var(--green), .2);
    --color-green-30: rgba(var(--green), .3);
    --color-green-40: rgba(var(--green), .4);
    --color-green-50: rgba(var(--green), .5);
    --color-green-60: rgba(var(--green), .6);
    --color-green-70: rgba(var(--green), .7);
    --color-green-80: rgba(var(--green), .8);
    --color-green-90: rgba(var(--green), .9);

    --color-blue: rgba(var(--blue), 1);
    --color-blue-10: rgba(var(--blue), .1);
    --color-blue-20: rgba(var(--blue), .2);
    --color-blue-30: rgba(var(--blue), .3);
    --color-blue-40: rgba(var(--blue), .4);
    --color-blue-50: rgba(var(--blue), .5);
    --color-blue-60: rgba(var(--blue), .6);
    --color-blue-70: rgba(var(--blue), .7);
    --color-blue-80: rgba(var(--blue), .8);
    --color-blue-90: rgba(var(--blue), .9);

    --color-midnight: rgba(var(--midnight), 1);
    --color-midnight-10: rgba(var(--midnight), .1);
    --color-midnight-20: rgba(var(--midnight), .2);
    --color-midnight-30: rgba(var(--midnight), .3);
    --color-midnight-40: rgba(var(--midnight), .4);
    --color-midnight-50: rgba(var(--midnight), .5);
    --color-midnight-60: rgba(var(--midnight), .6);
    --color-midnight-70: rgba(var(--midnight), .7);
    --color-midnight-80: rgba(var(--midnight), .8);
    --color-midnight-90: rgba(var(--midnight), .9);

    --color-link: var(--grayscale-70);
    --color-link-visited: var(--grayscale-70);
}