:root {
    --white: #ffffff;
    --black: #000000;

    --grayscale-100: #0f0f0f;
    --grayscale-90: #202020;
    --grayscale-80: #383838;
    --grayscale-70: #535353;
    --grayscale-60: #737373;
    --grayscale-50: #949494;
    --grayscale-40: #b3b3b3;
    --grayscale-30: #d0d0d0;
    --grayscale-20: #e7e7e7;
    --grayscale-10: #f7f7f7;

    --primary-100: #82080e;
    --primary-90: #941118;
    --primary-80: #b8292f;
    --primary-70: #e0494c;
    --primary-60: #FF6464;
    --primary-50: #ff8885;
    --primary-40: #ffa69e;
    --primary-30: #ffc1b5;
    --primary-20: #ffd8ce;
    --primary-10: #fff0ec;

    --secondary-100: #062725;
    --secondary-90: #053637;
    --secondary-80: #045965;
    --secondary-70: #02859d;
    --secondary-60: #00A8CC;
    --secondary-50: #39b7d5;
    --secondary-40: #67bdd9;
    --secondary-30: #8fc5de;
    --secondary-20: #b6d4e7;
    --secondary-10: #e3edf5;

    --amber-100: #552a06;
    --amber-90: #643909;
    --amber-80: #8b5910;
    --amber-70: #bb8318;
    --amber-60: #e4a820;
    --amber-50: #FBBF24;
    --amber-40: #fbd86e;
    --amber-30: #fceb97;
    --amber-20: #fcf7b6;
    --amber-10: #fefde5;

    --color-link: var(--grayscale-70);
    --color-link-visited: var(--grayscale-70);
}