/* form reset */
input,
label,
select,
button,
textarea {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
    line-height: 1em;
	background:none;
    font-size: var(--text-sm);
	font-family: var(--font-family);
}

input:focus, textarea:focus { outline:0; }
input, textarea {
    -webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type=checkbox],
input[type=radio] {
    width:13px;
	height:13px;
}

input[type=search] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}
::-webkit-search-decoration {
	display:none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	overflow:visible;
	width:auto;
}

::-webkit-file-upload-button {	
	padding:0;
	border:0;
	background:none;
}

textarea {
	vertical-align:top;
	overflow:auto;
}
select[multiple] {
	vertical-align:top;
}
/* end reset */

label {
    font-size: var(--text-md);
    font-weight: 400;
    margin-bottom: var(--space-xs);
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid var(--color-grayscale-10);
    border-radius: var(--site-radius);
    color: var(--color-grayscale-60);
    padding: var(--space-sm);

    &:focus {
        outline: 3px solid var(--color-yellow-30);
    }
    &:-webkit-autofill, &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    &[data-autocompleted] {
        background-color: transparent !important;
    }
    &::placeholder {
        color: var(--color-grayscale-60);
        font-size: var(--text-sm);
        font-weight: 300;
    }
}