img {
    vertical-align: top; // remove spacing underneath image
    width: 100%;
    height: auto;
    
    border-radius: var(--site-radius-lg);
    box-shadow: var(--site-shadow);
}

.zoom {
    overflow: hidden;

    border-radius: var(--site-radius-lg);
    box-shadow: var(--site-shadow);

    img {
        transition: all var(--site-transition) ease-in-out;
    }

    &:hover {
        img {
            transition: all var(--site-transition) ease-in-out;
            transform: scale(1.05);
        }
    }
}

/* solid shadow styles */
.solid-shadow-yellow, .solid-shadow-pink, .solid-shadow-green,
.solid-shadow-blue, .solid-shadow-midnight {
    border-radius: var(--site-radius-sm);
    transition: box-shadow var(--site-transition) ease-in-out;
}
.solid-shadow-yellow { box-shadow: .5rem .5rem var(--color-yellow); }
.solid-shadow-pink { box-shadow: .5rem .5rem var(--color-pink); }
.solid-shadow-green { box-shadow: .5rem .5rem var(--color-green); }
.solid-shadow-blue { box-shadow: .5rem .5rem var(--color-blue); }
.solid-shadow-midnight { box-shadow: .5rem .5rem var(--color-midnight); }

div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl) var(--space-lg);
}

main.post, main.shoot {
    img {
        width: 100%;
        height: auto;
    }
}