img {
    vertical-align: top; // remove spacing underneath image
    border-radius: var(--site-radius);
}

.zoom {
    overflow:hidden;

    img {
        transition: all .3s ease-in-out;
    }

    &:hover {
        img {
            transition: all .3s ease-in-out;
            transform: scale(1.05);
        }
    }
}

/* solid shadow styles */
.solid-shadow-yellow {
    box-shadow: .5rem .5rem var(--color-yellow);
    border-radius: var(--site-radius);
}
.solid-shadow-pink {
    box-shadow: .5rem .5rem var(--color-pink);
    border-radius: var(--site-radius);
}
.solid-shadow-green {
    box-shadow: .5rem .5rem var(--color-green);
    border-radius: var(--site-radius);
}
.solid-shadow-blue {
    box-shadow: .5rem .5rem var(--color-blue);
    border-radius: var(--site-radius);
}
.solid-shadow-midnight {
    box-shadow: .5rem .5rem var(--color-midnight);
    border-radius: var(--site-radius);
}

main.post, main.shoot {
    img {
        width: 100%;
        height: auto;
        border-radius: var(--site-radius);
    }
}