@use 'breakpoints' as *;

:root {
    --body-top-margin: 5rem; // how far from the top of the window should layout start?
    --section-bottom-margin: 6rem; // how much spacing after each section?
    
    --side-margins-sm: 16px; // margins to apply to the l/r boundaries of the site on mobile
    --side-margins-lg: 24px; // margins to apply to the l/r boundaries of the site on tablet / desktop
}

.container {
    max-width: $site-width;
    margin: var(--body-top-margin) auto 0 auto;
    padding: 0 var(--side-margins-sm);

    @include breakpoint(md) {
        padding: 0 var(--side-margins-lg);
    }
}