@use 'breakpoints' as *;

:root {   
    --section-spacing-sm: 3rem; // how much spacing before / after each section?
    --section-spacing-md: calc(var(--section-spacing-sm) * 1.5);
    --section-spacing-lg: calc(var(--section-spacing-sm) * 2);
    --section-spacing-xl: calc(var(--section-spacing-sm) * 3);
    
    --side-margins-sm: 16px; // margins to apply to the l/r boundaries of the site on mobile
    --side-margins-lg: 24px;
}