@use 'breakpoints' as *;

:root {
    --body-top-margin-sm: 3rem; // how far from the top of the window should layout start?
    --body-top-margin-lg: calc(var(--body-top-margin-sm) * 2);
    
    --section-spacing-sm: 3rem; // how much spacing before / after each section?
    --section-spacing-md: calc(var(--section-spacing-sm) * 1.5);
    --section-spacing-lg: calc(var(--section-spacing-sm) * 2);
    
    --side-margins-sm: 16px; // margins to apply to the l/r boundaries of the site on mobile
    --side-margins-lg: 24px;
}

.container {
    max-width: $site-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--side-margins-sm);

    @include breakpoint(md) {
        padding: 0 var(--side-margins-lg);
    }
}
.constraint-sm {
    max-width: 500px;
}
.constraint-md {
    max-width: 575px;
}
.constraint-lg {
    max-width: 650px;
}