@use 'breakpoints' as *;

:root {
    --font-family: 'Hebbo', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;

    /* type scaling */
    --text-xs: 0.875rem;
    --text-sm: 1rem;;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 2.5rem;
    --text-4xl: 3.0rem;

    --line-height-sm: 1em;
    --line-height-md: 1.25em;
    --line-height-lg: 1.5em;
    --line-height-xl: 1.75em;

    --letter-spacing-xs: -.05em;
    --letter-spacing-sm: -.025em;
    --letter-spacing-md: 0.1em;
    --letter-spacing-lg: 0.2em;
}

body {
    font-size: var(--text-sm);
    font-family: var(--font-family);
    line-height: var(--line-height-md);
}
a { text-decoration: none; }
b, strong { font-weight: bold; }

h1, .h1,
h2, .h2, 
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: var(--line-height-md);
    color: var(--color-grayscale-90);
}

/* text size */
h1, .h1 {
    font-size: var(--text-4xl);
    font-weight: 400;
    letter-spacing: var(--letter-spacing-xs);
}
h2, .h2 {
    font-size: var(--text-3xl);
    font-weight: 300;
    letter-spacing: var(--letter-spacing-xs)
}
h3, .h3 {
    font-size: var(--text-2xl);
    font-weight: 300;
    letter-spacing: var(--letter-spacing-sm)
}
h4, .h4 {
    font-size: var(--text-xl);
    font-weight: 400;
    letter-spacing: var(--letter-spacing-sm);
}
h5, .h5 { 
    font-size: var(--text-lg);
    font-weight: 200;
    letter-spacing: var(--letter-spacing-sm);
}
h6, .h6 {
    font-size: var(--text-md);
    font-weight: 200;
}

.subheading {
    font-size: var(--text-xl);
    font-weight: 300;
}

p, ul {
    font-size: var(--text-lg);
    line-height: var(--line-height-xl);
    color: var(--grayscale-70);
    font-weight: 350;
}
ul {
    font-size: var(--text-md);
}
p > a {
    background-image: linear-gradient(120deg, var(--color-yellow-20) 0%, var(--color-yellow-40) 100%);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 0 88%;
    transition: background-size var(--site-transition) ease-in;
 
    &:hover {
       background-size: 100% 40%;
    }
}