---
// functions
import { getMetadata } from "@/functions/Media"

// props
export interface Props {
    file: string;
    showTitle?: boolean;
}
const { file, showTitle = true } = Astro.props;

const metadata = await getMetadata(file); // get the metadata for the caption
---

<style>    
    figcaption {
        @apply text-xl p-4 text-neutral-600
    }
</style>

<figcaption>
    <div>
        {showTitle ?
            <div class="title">{metadata.title}</div>
        :
            <div class="caption">{metadata.caption}</div>
        }
    </div>
</figcaption>