---
import { fullDate } from '@/functions/DateTime'
import { getMetadata } from '@/functions/Image'

// props
export interface Props {
    file: string;
}
const { file } = Astro.props;

const metadata = await getMetadata(file);
---

<style lang="scss">
    @use '../../assets/styles/breakpoints' as *;

    figcaption {
        margin: 0 var(--space-md);
    }
    .summary {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        margin-top: var(--space-xs);
        margin-bottom: var(--space-md);
        font-size: var(--text-sm);

        @include breakpoint(md) {
            flex-direction: row;
            justify-content: space-between;
        }
        
        .title { font-weight: 400; }
        .caption {
            font-weight: 350;
            text-align: right;
        }
    }
</style>

<figcaption>
    <div class="summary">
        <div class="title">
            {metadata.title}
        </div>

        <div class="caption">
            {metadata.caption}
        </div>
    </div>
</figcaption>