---
// functions
import { getMetadata, buildFileDetailPath } from "@/functions/Media"

// props
export interface Props {
    file: string;
    showTitle?: boolean;
}
const { file, showTitle = false } = Astro.props;

const metadata = await getMetadata(file); // get the metadata for the caption
---

<style>
    a:hover { @apply font-semibold; }
</style>

<figcaption>
    <div class="inline">
        {showTitle ?
            <div class="title"><a href="/photography/photo/${buildFileDetailPath(file)}">{metadata.title}</a></div>
        :
            <div class="caption"><a href="/photography/photo/${buildFileDetailPath(file)}">{metadata.caption}</a></div>
        }
    </div>
</figcaption>