---
import { getMetadata } from '@/functions/Image'

// props
export interface Props {
    file: string;
    showTitle?: boolean;
    showDesc?: boolean;
}
const { file, showTitle = false, showDesc = true } = Astro.props;

const metadata = await getMetadata(file);
---

<style lang="scss">
    @use '../../assets/styles/breakpoints' as *;

    figcaption {
        margin: 0;

        @include breakpoint(md) {
            margin: 0 var(--space-sm);
        }

        .summary {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            margin-top: var(--space-sm);
            margin-bottom: var(--space-md);
            font-size: var(--text-sm);

            @include breakpoint(md) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
</style>

<figcaption>
    <div class="summary">
        {showTitle ? 
            `<div class="title">
                {metadata.title}
            </div>` : `` 
        }

        {showDesc ?
            `<div class="caption" style="font-weight: 340;">
                ${metadata.caption}
            </div>` : ``
        }
    </div>
</figcaption>