---
// modules
import fs from 'fs'
import exifr from 'exifr'

// data
import settings from "../../data/settings.json"

// props
export interface Props {
    file: string;
    showDesc?: boolean;
}
const { file, showDesc = false } = Astro.props;

let localUrl = `${settings.image.directory.local}${file}`;

// collect all the exif and iptc data from the image
let exifrOptions = {
    iptc: ['ObjectName', 'Caption'],
    exif: false,
    ifd0: false,
    gps: false,
    mergeOutput: true
}

var fsFile = fs.readFileSync(localUrl);
var metadata = await exifr.parse(fsFile, exifrOptions);

let imgTitle = metadata.ObjectName;
let imgCaption = metadata.Caption;
---

<style lang="scss">
    figcaption {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: var(--space-xs);

        .title {
            font-weight: 500;
        }
        .description { 
            font-weight: 300;
        }
    }
</style>

<figcaption>
    <div class="title">{imgTitle}</div>
    { showDesc ? `<div class="description">${imgCaption}</div>` : ``}
</figcaption>