---
// components
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Image from "../components/image/Image.astro"
import Caption from "../components/image/Caption.astro"

// props
export interface Props {
    content: {
        hero?: string;
    };
}
const { content } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />

    <style lang="scss">
        :global(img) {
            margin-bottom: var(--space-sm);
        }
        :global(figure) {
            margin-bottom: var(--space-xl);
        }
    </style>

    <script>
        function showMeta(id) {
            var element = document.querySelector('.'+id);
            console.log(element);
            element.classList.toggle("active");
        }
    </script>
</head>

<body>
    <main class="post">
        <header class="container">
            <Header />

            <div class="constraint-lg">
                <h1>{content.title}</h1>
                <p>{content.description}</p>
            </div>
        </header>

        <section class="container">
            <div class="constraint-lg">
                <slot />
            </div>
        </section>

        <Footer />
    </main>
</body>
</html>